/* style guide:
#9de19a	- green
#a4c5ea - light blue
#bca9e1 - light purple
#e7eca3 - gentle yellow
#98a7f2  - blue/purple
#6c757d -  grey
*/

body{
background-color: #a4c5ea;
margin: 0px;
overflow-x: hidden;
}
nav{
  background-color: #9de19a;
}

.navbar{
  padding: 0px 0px 0px 0px;
}
.nav-link{
padding: 20px;
}


ul {
    list-style-type: none;
    margin-top: 0px;
}

a, a:hover {
    color: black;
    text-decoration: none;
}

#find_me{
  border-bottom-style: solid;
  border-color: black;
  padding-top: 20px;
}

aside{
    background-color: #98a7f2;
    font-size: 2vw;
}
aside ul{
 padding-left: 10px;
}

aside li{
  padding: 5px;
}
h1{
  margin-top: 25px;
}

.nav-link:hover{
    background-color: #bca9e1;
    border: 1px;
    border-right-style: solid;
    border-color: black;
    color: inherit;
}
aside a li:hover{
  background-color: #bca9e1;
  border: 1px;
  border-left-style: solid;
  border-color: black;
}

.divider{
border: 1px solid dimgrey;
margin: 12px auto;
}

article{
  max-width: 40%;
  margin: 3px;
  margin-left: 5%;
  border: solid;
  border-color: darkslategrey;
  padding: 6px;

}
pre{
padding: 6px;
border: solid;
border-color: dimgrey;
}
.card-columns{
  padding: 3px 20px;
}
.card{
  background-color: #a4c5ea;
  padding: 10px;
}



footer{
text-align: center;
  margin-top: 100px;
  height: 40px;
  background-color: #6c757d;
  padding: 10px 30px;
  padding-bottom: 50px;
}
