/* style guide:
#9de19a	- green
#a4c5ea - light blue
#bca9e1 - light purple
#e7eca3 - gentle yellow
#98a7f2  - blue/purple
*/

body{
background-color: #a4c5ea;
margin: 0px;
}

nav{
    margin: 0px;
      z-index: 1;
      padding: 0px;
      padding-bottom: 10px;

}
nav ul{
    background-color: #9de19a;
    padding-left:  0px;
    padding-top: 15px;
    padding-bottom: 10px;

}
nav ul li  {
      display: inline;
      padding-top: 15px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
      font-size: 30px;;

}
ul {
    list-style-type: none;
    margin-top: 0px;
}

a {
    color: black;
    text-decoration: none;
}
#find_me{
  border-bottom-style: solid;
  border-color: black;
}
h1, main{
  padding-left: 50px;
}

aside{
      float: right;
    position: relative;
    bottom: 25px;
}
aside ul{
    text-align: center;

    background-color: #98a7f2;

    padding: 6px;


}

aside li{
  padding: 5px;
}
main {
    max-width: 60%;

  }
nav li:hover{
    background-color: #bca9e1;
    border: 1px;
    border-right-style: solid;
    border-color: black;
}
aside a li:hover{
  background-color: #bca9e1;
  border: 1px;
  border-left-style: solid;
  border-color: black;
}

figure{
  height: 278px;
}
figcaption{
  margin: 15px;
  position: relative;
  bottom: 100px;
  left: 200px;
  display: block;
  width: 300px;
}
article{
  max-width: 40%;
  margin: 3px;
  margin-left: 5%;
  border: solid;
  border-color: darkslategrey;
  padding: 6px;

}
pre{
padding: 6px;
border: solid;
border-color: dimgrey;
}
.one{
  position: relative;
  left: 10px;
}
.two{
  position: relative;
  left: 30px;
}
.three{
  position: relative;
  left: 50px;
}
.four{
  position: relative;
  left: 70px;
}
.five{
  position: relative;
  left: 90px;
}

img {
width: 20%;

}

footer{
text-align: center;
  margin-top: 100px;
  height: 40px;
}
