body{
background-color: #6699ff

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.top{
      position: fixed;
      top: 0;
      left: 0;
      height: : 30;
      width: 100%;
      background-color: #00cc66;
      z-index: 1;

}
.top li  {
      float: left;
}
h1{
 position: relative;
 top: 35px;
}
h3{

  position: relative;
  top: 35px;
}
a {
    display: block;
    padding: 8px;
    color: black;
    text-decoration: none;
}
.top li a {
    display: block;
    width: 60px;
    text-align: center;
    padding: 14px 16px;


}
.communicate{
    position: absolute;
    right: 0px;
    background-color: #cccccc;
    top: 46px;
    padding: 2px;


}
p {
    max-width: 60%;
    position: relative;
    top: 20px;

  }
.top a:hover {
    background-color: #006600;
}
code{

}
.one{
  position: relative;
  left: 10px;
}
.two{
  position: relative;
  left: 30px;
}
.three{
  position: relative;
  left: 50px;
}
.four{
  position: relative;
  left: 70px;
}
.five{
  position: relative;
  left: 90px;
}

img {
    width:49%;
    position: relative;
    top: 50px;
}

footer{
  position: fixed;
  bottom: 0px;
  left: 30%;

}
